# Exercises

To get started with the exercises, go ahead and take a look at RideShareDB. This database was created with data from a dataset on [Kaggle](https://www.kaggle.com/fivethirtyeight/uber-pickups-in-new-york-city). The dataset was made using data obtained from the NYC Taxi and Limosine Commission or TLC. TLC tracks this data by base and even rideshare companies such as Uber and Lyft have assigned bases that each pickup must be attributed to. For the exercises, we will be using the `other-FHV-services-jan-july15` and `lyft` tables in RideShareDB. These tables include the data for each pickup attributed to a few other For-Hire Vehicles (FHV) services and Lyft. These tables do not include any data from Uber.

## String Functions

Write a query that returns the last 3 characters of the base name in `other-FHV-services-jan-july15`. Do you see anything that is a common abbreviation at the end of business names?

<mark>**I do not have that table, so I used this table \>\>**</mark> <span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">other_FHV_services_jan_aug_2015 &lt;&lt; <span style="background-color: yellow;"><b>The common abbreviation I see are INC. mostly.</b></span></span>

In [25]:
SELECT top 10 *
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015;

Base_Number,Base_Name,Pick_Up_Date,Number_of_Trips,Number_of_Vehicles
B00013,LOVE CORP CAR INC,2015-01-01,26,17
B00014,NY ONE CORP CAR INC,2015-01-01,45,24
B00029,COMMUNITY CAR SVC CORP,2015-01-01,731,36
B00053,CHARGE AND RIDE INC,2015-01-01,10,9
B00095,LIBERTY CAR SERVICE INC.,2015-01-01,814,62
B00221,PROFESSIONAL CAR SERVICE INC,2015-01-01,220,46
B00227,"PARK WEST EXEC. SERVICES, INC.",2015-01-01,36,28
B00248,YELLOWSTONE TRANSPORTATION INC.,2015-01-01,"1,137",106
B00254,XYZ TWO WAY RADIO,2015-01-01,236,103
B00280,FLEET RADIO DISPATCH CORP.,2015-01-01,47,29

In [19]:
SELECT top 10 RIGHT(Base_Name, 3 ) AS last3char
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015;

last3char
INC
INC
ORP
INC
NC.
INC
NC.
NC.
DIO
RP.

The number of trips and the number of pickups are both stored as strings in `other-FHV-services-jan-july15`. This is because the data provided included spaces in some of the numbers. Write a query that returns the location of spaces in both of these columns.

  

I am not sure what is being asked here. I trimmed the whitespaces in the top 10.

In [26]:
SELECT top 10 CHARINDEX('', 'Pick_Up_Date','Number_of_Trips')
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015

: Msg 8116, Level 16, State 1, Line 1
Argument data type varchar is invalid for argument 3 of charindex function.

In [32]:
SELECT top 10 TRIM(' ' FROM Number_of_Trips) AS Trip_Numbers
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015;

Trip_Numbers
26
45
731
10
814
220
36
"1,137"
236
47

## Date Functions

For ``other-FHV-services-jan-july15``, display the name of month of the pickup date and order in descending order. Is the result of this query what you expected?

In [40]:
SELECT top 10 DATENAME(MONTH, '2015-01-01') AS Pick_Up_Date_Month
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015
Order BY Pick_Up_Date DESC;

Pick_Up_Date_Month
January
January
January
January
January
January
January
January
January
January

Using `other-FHV-services-jan-july15`, write a query that returns the day number of the pickup date and month name and orders it in ascending order by day number.

In [42]:
SELECT top 10 DATENAME(DAY, '2015-01-01') AS Pickup_day, DATENAME(MONTH, '2015-01-01') AS Pickup_month
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015
Order BY Pick_Up_Date ASC;

Pickup_day,Pickup_month
1,January
1,January
1,January
1,January
1,January
1,January
1,January
1,January
1,January
1,January

## Aggregate Functions

Write a query that returns the most easterly Lyft pickup.

\-73.742269

In [46]:
SELECT top 10 *
From lyft

time_of_trip,start_lat,start_lng
2014-09-04 09:51:00.0000000,40.64705,-73.77988
2014-08-27 21:13:00.0000000,40.74916,-73.98373
2014-09-04 14:16:00.0000000,40.64065,-73.97594
2014-09-04 16:08:00.0000000,40.75002,-73.99514
2014-08-28 02:41:00.0000000,40.76715,-73.98636
2014-09-13 03:57:00.0000000,40.70707,-74.01211
2014-09-11 23:13:00.0000000,40.72953,-73.97799
2014-08-27 22:56:00.0000000,40.76689,-73.95631
2014-09-10 17:48:00.0000000,40.82332,-73.86235
2014-09-12 23:24:00.0000000,40.72188,-73.99732

In [52]:
SELECT top 10 *
FROM lyft
Order BY start_lng Asc;

time_of_trip,start_lat,start_lng
2014-07-26 04:21:00.0000000,NULL,NULL
2014-08-14 02:23:00.0000000,40.52785,-74.22689
2014-08-11 00:00:00.0000000,40.53042,-74.20857
2014-08-13 06:18:00.0000000,40.59229,-74.19261
2014-08-15 23:41:00.0000000,40.54979,-74.19208
2014-08-18 20:58:00.0000000,40.58654,-74.19087
2014-08-12 02:40:00.0000000,40.59998,-74.18974
2014-09-13 15:40:00.0000000,40.59272,-74.18909
2014-09-11 19:57:00.0000000,40.56209,-74.18694
2014-09-06 19:12:00.0000000,40.56238,-74.18683

Write a query the returns the most northerly Lyft pickup.

40.93562

In [51]:
SELECT top 10 *
FROM lyft
ORDER BY start_lat DESC;

time_of_trip,start_lat,start_lng
2014-08-23 06:06:00.0000000,40.93562,-73.89887
2014-08-26 02:37:00.0000000,40.9354,-73.88666
2014-09-07 21:39:00.0000000,40.9352,-73.89987
2014-09-11 01:21:00.0000000,40.93484,-73.88917
2014-09-07 00:30:00.0000000,40.93468,-73.90152
2014-09-10 00:22:00.0000000,40.934,-73.89967
2014-08-18 21:35:00.0000000,40.933840000000004,-73.903
2014-08-30 21:42:00.0000000,40.93014,-73.8552
2014-09-01 19:28:00.0000000,40.9295,-73.90045
2014-08-13 23:02:00.0000000,40.92822,-73.85665

Using ``other-FHV-services-jan-july15``, write a query that connects the the base number and the base name in a string that uses the following format: base\_number: base\_name.

In [58]:
select TOP 1 CONCAT('Base_Number',':', 'Base_Name' ) as base_name_and_number
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015

base_name_and_number
Base_Number:Base_Name